.jumbotron{
    background: url("../assets/background.jpg") center bottom;
    background-size: cover;
    height: 100vh;
    color: rgb(23, 24, 21);
    margin-bottom: 0;

}


.display-4{
    font-size: 70px;
    color: white;
}